
*{
  box-sizing:border-box;
}
html{
  height:100%;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(to bottom, #085078, #85d8ce); 

  color:black;
}



/*This is for sending text message*/
.text { 
  padding: 5px 7px 5px 7px; 
  min-width:10px; 
  max-width:50%; 
  display: inline-block;
  border-radius: 10px;
  color: white;
  border-style: solid;
  border-color: white;
  border: 2px solid #D1935D;
  background-color: #D1935D;
}

/*This is for the middle portion that scrolls through the messages*/
.scroll-messages{
  position: absolute;
  left:0;
  top: 60px;
  height: calc(100vh - 116px);
  width:100vw;
  position:absolute;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.message-user {
  position: absolute;
  top: -17px;
  color:white;
  font-size: 12px;
  padding-left: 9px;
  padding-top: 8px;
  padding-bottom: 0;
}


/*This is for the messages*/
.message-text {
  color:white;
  border: 2px solid #D1935D;
  background-color: #D1935D;
  margin:8px;
  border-radius: 15px;
  padding:7px 9px;
  display: table ;
  word-break: break-all;
  word-break: break-word;
  min-width: 10px ;
}

.message{
  position: relative;
  margin-top:10px;
  max-width: 100%;
}

.message-wrap{
  position: relative;
  width:100%;
  display:flex;
  justify-content: flex-start;
}

.message-wrap[from="me"]{
  justify-content: flex-end;
}

.message-wrap[from="you"] .message-user{
  left: 0;
}
.message-wrap[from="me"] .message-user{
  right: 10px;
}







.main-title{
  font-size:18px;
  color: white;
}

header{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 58px;
  border-bottom: 1px solid black;
  padding: 12 px;
  background: rgba(0, 0, 0, 0.6);
  display:flex;
  align-items: center
}

.text-input-wrap{
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height: 55px;
  border-top: 1px solid black;
  background:rgba(0,0,0,0.6);
}

.bottom {
  display: flex;
  padding: 10px 1%;
  justify-content: space-around;
  align-items: center;
}


.button-text:hover {
  background: #E87918;
  color:white;
}

.button-text {
  position: absolute;
  right: 1.7%;
  top: 10px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  position: absolute;
  background: #085078;
  border-color: white;
  color: white;
}

.button-text:disabled{
  color:white;
  background:grey;
}

/*This is the blue text input where you can write your message*/
.input-text{
  top: 10px;
  height: 30px;
  width: 92%;
  border-radius: 15px;
  padding: 0 8px;
  border: 1px solid white;
  background: #2b5e7a;
  color: white;
  font-size:14px;
}


.camera-button { 
  top: 14px;
  color:white;
  font-size: 20px;
  background: transparent;
  border: none;
  padding: 3px 1px 1px 1px;
}

.camera-button:hover{
  color: #E87918;
}

::placeholder {
  color: #AFC4CB;
}




/*Code for user to input their username*/
.input-username {
  position: absolute;
  right: 38px;
  top: 15px;
  height: 25px;
  width: 30%;
  border-radius: 10px;
  border: 1px solid #619AA2;
  background: #619AA2;
  color: white;
  padding: 0 5px;
}

.button-username{
  position: absolute;
  right: 10px;
  top: 17px;
  background: transparent;
  border: none;

  font-size: 18px;
  color:white;
  padding: 1px 2px 2px;
}

.button-username:hover {
  color: #E87918;
}

.button-user-click {
  position: absolute;
  right: 10px;
  top: 15px;
  height: 26px;
  width: 26px;
}

.button-user-click2 {
  position: absolute;
  right: 42px;
  top: 20px;
  height: 11px;
  display: table ;
  max-width: 50% ;
  min-width: 10px ;
  background-color:rgba(0, 0, 0, 0.0);
  color:white;
  font-size: 12px;

}


